<!-- HTML5 Boiler-Plate -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Unicode Setting -->
    <meta charset="UTF-8">

    <!-- Linking styles.css with index.html -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Adding Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap" rel="stylesheet">

    <!-- Adding iconscout Unicon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!-- Line-icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css"> <!-- Thin-Line-icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css"> <!-- Solid-icons -->


    <!-- Adding Favicon -->
    <link rel="favicon" href="../static/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Adding Title -->
    <title>Alireza's</title>
</head>
<body>
    <!-- Making a Header Section -->
    <section class="section__home" id="home">

        <!-- Making a Navbar -->
        <div class="div__navbar-container">
        
            <!-- Making a Brandicon -left align- -->
            <div class="div__navbar-brand">
                <!-- Linking Brand to Home Section -->
                <a href="#home" class="a__brand"><img src="../static/favicons/favicon-32x32.png" alt="Alireza's Brand" class="img__brand"></a>
            </div>
        
            <!-- Making Options and Links -left align- -->
            <div class="div__navbar-option">

                <!-- Linking HOME to Home Section -->
                <a href="#home" class="a__option">
                    <h3 class="h3__option">HOME</h3>
                </a>

                <!-- Linking ABOUT to About Section -->
                <a href="#about" class="a__option">
                    <h3 class="h3__option">ABOUT</h3>
                </a>

                <!-- Linking SHOP to Shop Section -->
                <a href="#shop" class="a__option">
                    <h3 class="h3__option">SHOP</h3>
                </a>

                <!-- Linking CONTACT to Contact Section -->
                <a href="#contact" class="a__option">
                    <h3 class="h3__option">CONTACT</h3>
                </a>

                <!-- Linking SOCIAL to Social Section -->
                <a href="#social" class="a__option">
                    <h3 class="h3__option">SOCIALS</h3>
                </a>
            </div>
        
            <!-- Making Socialicon -right align- -->
            <div class="div__navbar-social">

                <!-- Linking Socialicons -->
                <a href="" class="a__social telegram"><i class="i__social-telegram uil uil-telegram-alt"></i></a>
                <a href="" class="a__social whatsapp"><i class="i__social-whatsapp uil uil-whatsapp"></i></a>
                <a href="" class="a__social email"><i class="i__social-envelope uil uil-envelope"></i></a>
                <a href="" class="a__social user"><i class="i__social-user uil uil-user"></i></a>
            </div>
        </div>

        <!-- Making a Header -->
        <div class="div__header-container">
            <h1 class="h1__header-title">Shop Easy, Learn Easier!<br>-Alireza's Shop.</h1>

            <!-- Linking SHOP NOW to Shop Section -->
            <a href="#shop" class="a__header-footer"><button class="button__header-footer" type="button">SHOP NOW <i class="uil uil-arrow-right"></i></button></a>
        </div>
    </section>

    <!-- Making an About Section -->
    <section class="section__about" id="about">
        <div class="div__about-container">

            <!-- Making a table -->
            <table class="table__about">

                <!-- Making a Table Row -->
                <tr class="tr__about-row">

                    <!-- Making Table Data -->
                    <td class="td__about-data">Name:</td>
                    <td class="td__about-data">Alireza</td>
                </tr>

                <!-- Making a Table Row -->
                <tr class="tr__about-row">

                    <!-- Making Table Data -->
                    <td class="td__about-data">Lastname:</td>
                    <td class="td__about-data">Hassani</td>
                </tr>

                <!-- Making a Table Row -->
                <tr class="tr__about-row">

                    <!-- Making Table Data -->
                    <td class="td__about-data">Student Number:</td>
                    <td class="td__about-data">3982601500</td>
                </tr>

                <!-- Making a Table Row -->
                <tr class="tr__about-row">

                    <!-- Making Table Data -->
                    <td class="td__about-data">Project Name:</td>
                    <td class="td__about-data">Alireza's Shop</td>
                </tr>

                <!-- Making a Table Row -->
                <tr class="tr__about-row">

                    <!-- Making Table Data -->
                    <td class="td__about-data">Subject:</td>
                    <td class="td__about-data">Software Final Project</td>
                </tr>

                <!-- Making a Table Row -->
                <tr class="tr__about-row">

                    <!-- Making Table Data -->
                    <td class="td__about-data">Teacher Name:</td>
                    <td class="td__about-data">Dr. Farajipour</td>
                </tr>
            </table>
        </div>
    </section>

    <!-- Making a Shopping Section -->
    <section class="section__shop" id="shop">
        <div class="div__shop-container">

            <!-- Making a table -->
            <table class="table__shop-item">

                <!-- Making a Table Row -->
                <tr class="tr__shop-row">

                    <!-- Making Table Data -->
                    <td class="td__shop-card item-1">
                        <img src="../static/images/img-item-1.png" alt="" class="img__shop-card">
                        <div class="div__shop-card">

                            <!-- Making a table -->
                            <table class="table__shop-card">

                                <!-- Making a Table Row -->
                                <tr class="tr__shop-card">

                                    <!-- Making Table Data -->
                                    <td class="td__shop-rating">
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-star-half-alt"></i>
                                    </td>
                                    <td class="td__shop-button">
                                        <a href="request/" class="a__shop-download" target="_blank"><button class="button__shop-download">Download <i class="uil uil-arrow-to-bottom"></i></button></a>
                                    </td>
                                </tr>
                                <tr class="tr__shop-card">
                                    <td class="td__shop-price"><h4 class="h4__shop-price">Price: 1000T</h4></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                
                    <td class="td__shop-card item-2">
                        <img src="../static/images/img-item-1.png" alt="" class="img__shop-card">
                        <div class="div__shop-card">
                        
                            <!-- Making a table -->
                            <table class="table__shop-card">
                        
                                <!-- Making a Table Row -->
                                <tr class="tr__shop-card">
                        
                                    <!-- Making Table Data -->
                                    <td class="td__shop-rating">
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-star-half-alt"></i>
                                    </td>
                                    <td class="td__shop-button">
                                        <a href="request/" class="a__shop-download" target="_blank"><button class="button__shop-download">Download <i class="uil uil-arrow-to-bottom"></i></button></a>
                                    </td>
                                </tr>
                                <tr class="tr__shop-card">
                                    <td class="td__shop-price">
                                        <h4 class="h4__shop-price">Price: 1000T</h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                
                <!-- Making a Table Row -->
                <tr class="tr__shop-row">

                    <!-- Making Table Data -->
                    <td class="td__shop-card item-3">
                        <img src="../static/images/img-item-1.png" alt="" class="img__shop-card">
                        <div class="div__shop-card">
                        
                            <!-- Making a table -->
                            <table class="table__shop-card">
                        
                                <!-- Making a Table Row -->
                                <tr class="tr__shop-card">
                        
                                    <!-- Making Table Data -->
                                    <td class="td__shop-rating">
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-star-half-alt"></i>
                                    </td>
                                    <td class="td__shop-button">
                                        <a href="request/" class="a__shop-download" target="_blank"><button class="button__shop-download">Download <i class="uil uil-arrow-to-bottom"></i></button></a>
                                    </td>
                                </tr>
                                <tr class="tr__shop-card">
                                    <td class="td__shop-price">
                                        <h4 class="h4__shop-price">Price: 1000T</h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                
                    <td class="td__shop-card item-4">
                        <img src="../static/images/img-item-1.png" alt="" class="img__shop-card">
                        <div class="div__shop-card">
                        
                            <!-- Making a table -->
                            <table class="table__shop-card">
                        
                                <!-- Making a Table Row -->
                                <tr class="tr__shop-card">
                        
                                    <!-- Making Table Data -->
                                    <td class="td__shop-rating">
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-star-half-alt"></i>
                                    </td>
                                    <td class="td__shop-button">
                                        <a href="request/" class="a__shop-download" target="_blank"><button class="button__shop-download">Download <i class="uil uil-arrow-to-bottom"></i></button></a>
                                    </td>
                                </tr>
                                <tr class="tr__shop-card">
                                    <td class="td__shop-price">
                                        <h4 class="h4__shop-price">Price: 1000T</h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                
                <!-- Making a Table Row -->
                <tr class="tr__shop-row">

                    <!-- Making Table Data -->
                    <td class="td__shop-card item-5">
                        <img src="../static/images/img-item-1.png" alt="" class="img__shop-card">
                        <div class="div__shop-card">
                        
                            <!-- Making a table -->
                            <table class="table__shop-card">
                        
                                <!-- Making a Table Row -->
                                <tr class="tr__shop-card">
                        
                                    <!-- Making Table Data -->
                                    <td class="td__shop-rating">
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-star-half-alt"></i>
                                    </td>
                                    <td class="td__shop-button">
                                        <a href="request/" class="a__shop-download" target="_blank"><button class="button__shop-download">Download <i class="uil uil-arrow-to-bottom"></i></button></a>
                                    </td>
                                </tr>
                                <tr class="tr__shop-card">
                                    <td class="td__shop-price">
                                        <h4 class="h4__shop-price">Price: 1000T</h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                
                    <td class="td__shop-card item-6">
                        <img src="../static/images/img-item-1.png" alt="" class="img__shop-card">
                        <div class="div__shop-card">
                        
                            <!-- Making a table -->
                            <table class="table__shop-card">
                        
                                <!-- Making a Table Row -->
                                <tr class="tr__shop-card">
                        
                                    <!-- Making Table Data -->
                                    <td class="td__shop-rating">
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-favorite"></i>
                                        <i class="i__shop-star uis uis-star-half-alt"></i>
                                    </td>
                                    <td class="td__shop-button">
                                        <a href="request/" class="a__shop-download" target="_blank"><button class="button__shop-download">Download <i class="uil uil-arrow-to-bottom"></i></button></a>
                                    </td>
                                </tr>
                                <tr class="tr__shop-card">
                                    <td class="td__shop-price">
                                        <h4 class="h4__shop-price">Price: 1000T</h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <!-- Making a Contact Form Section -->
    <section class="section__contact" id="contact">
        <div class="div__contact-container">
            <form class="form__contact" action="mailto:alireza.hassani1398@gmail.com" method="post" enctype="text/plain">
                <table class="table__contact">

                    <!-- Making a Table Row -->
                    <tr class="tr__contact-row">

                        <!-- Making Table Data -->
                        <td class="td__contact-label"><label for="firstname" class="label__contact label__firstname">Fisrtname: </label></td>
                        <td class="td__contact-input"><input type="text" class="input__contact input__firstname" id="firstname" name="firstname"></td>
                    </tr>

                    <!-- Making a Table Row -->
                    <tr class="tr__contact-row">

                        <!-- Making Table Data -->
                        <td class="td__contact-label"><label for="lastname" class="label__contact label__lastname">Lastname: </label></td>
                        <td class="td__contact-input"><input type="text" class="input__contact input__lastname" id="lastname" name="lastname"></td>
                    </tr>

                    <!-- Making a Table Row -->
                    <tr class="tr__contact-row">

                        <!-- Making Table Data -->
                        <td class="td__contact-label"><label for="email" class="label__contact label__email">E-Mail: </label></td>
                        <td class="td__contact-input"><input type="email" class="input__contact input__email" id="email" name="email"></td>
                    </tr>

                    <!-- Making a Table Row -->
                    <tr class="tr__contact-row">

                        <!-- Making Table Data -->
                        <td class="td__contact-label"><label for="message" class="label__contact label__message">Message: </label></td>
                        <td class="td__contact-input"><textarea class="input__contact input__message" id="message" name="message"></textarea></td>
                    </tr>
                </table>

                <!-- Making a Submit Button -->
                <input type="submit" class="input__contact input__submit" id="submit" value="Send">
            </form>
        </div>
    </section>

    <!-- Making a Footer Section -->
    <section class="section__footer" id="social">
        <div class="div__footer-social">

            <!-- Linking Socialicons -->
            <a href="" class="a__footer-social telegram"><i class="i__footer-social uil uil-telegram-alt"></i></a>
            <a href="" class="a__footer-social whatsapp"><i class="i__footer-social uil uil-whatsapp"></i></a>
            <a href="" class="a__footer-social email"><i class="i__footer-social uil uil-envelope"></i></a>
        </div>

        <!-- Making a Copyright -->
        <h4 class="h4__footer-copyright">Copyright <i class="uil uil-copyright"></i> Alireza Hassani. All Rights Reserved.</h4>

    </section>    
</body>
</html>
